{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GA REPAIR SERVICE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}" />
    <link rel="icon" href="{% static 'assets/GA-Logo.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container align-items-center">
          <a class="navbar-brand" href="#">
            <img src="{% static 'assets/GA-Logo.png' %}" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <div class="navbar-brand">
                <img src="{% static 'assets/GA-Logo.png' %}" alt="" />
              </div>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div
              class="offcanvas-body justify-content-lg-evenly gap-lg-4 flex-wrap flex-column-reverse flex-lg-column d-flex justify-content-end"
            >
              <div
                class="d-flex mt-4 mt-lg-0 flex-column flex-lg-row gap-5 flex-lg-grow-1 align-items-lg-center justify-content-lg-center w-100"
              >
                <a
                  href="tel:+971 58 5929333"
                  class="d-flex flex-row align-items-center gap-3 gap-lg-4 call-us-header"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    class="bi bi-telephone"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
                    />
                  </svg>

                  <div class="d-flex flex-column">
                    <h5>Call Us</h5>
                    <span>+971 58 5929333</span>
                  </div>
                </a>

                <div class="d-flex flex-row align-items-center gap-3 gap-lg-4 open-hours-header">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    class="bi bi-clock"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
                    />
                    <path
                      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"
                    />
                  </svg>

                  <div class="d-flex flex-column">
                    <h5>Opening Hours</h5>
                    <span>Mon-Sat: 10:00–20:00 Sun: CLOSED</span>
                  </div>
                </div>
                <div class="">
                  <div class="dropdown-center">
                    <button
                      class="dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Русский
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="active" href="/ru">РУ</a>
                      </li>
                      <li>
                        <a href="/en">EN</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <ul
                class="navbar-nav justify-content-end justify-content-lg-center w-lg-100 pe-3 flex-lg-grow-1"
              >
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'index' %}"
                    >Главная</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'service' %}">Услуги</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">О нас</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section id="about-hero">
        <div class="container mt-5">
          <h1 class="title">
            Кто мы такие?
          </h1>

        <div class="d-flex flex-column pt-5 gap-4 gap-lg-5">
          <div class="d-flex flex-row flex-wrap justify-content-center gap-3 align-items-center">
            <img class="col-12 col-lg-5 img-fluid" src="{% static 'assets/imacs.png' %}" alt="" />
            <p class="col-12 col-lg-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
              tenetur dolore, blanditiis atque cupiditate laboriosam expedita.
              Quis neque vitae, exercitationem consectetur asperiores totam.
              Blanditiis repellat consequuntur ipsum voluptatum impedit porro
              illum repellendus commodi voluptas excepturi at atque ab,
              necessitatibus voluptatem error tempore nulla, nemo illo eos iusto
              deleniti. Repellat reiciendis sint accusantium atque, earum quae
              ut maxime amet labore distinctio itaque perferendis quod,
              aspernatur doloribus dignissimos soluta debitis asperiores
              repudiandae blanditiis deleniti eum a deserunt placeat! Fugiat
              laudantium laboriosam assumenda iure hic dolor unde dolore numquam
              architecto rem dignissimos et natus voluptates, nostrum eos harum
              voluptatem suscipit! Nostrum, expedita perspiciatis.
            </p>
          </div>
          <div class="d-flex flex-row flex-lg-row-reverse flex-wrap justify-content-center align-items-center gap-3">
            <img class="col-12 col-lg-5 img-fluid" src="{% static 'assets/imacs.png' %}" alt="" />
            <p class="col-12 col-lg-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </div>

      </section>

      <section id="out-team">
        <div class="container">
          <h1 class="title">
            Наша команда
          </h1>
          <div class="team-cover">
            <div class="team-member d-flex flex-column gap-3">
              <img src="{% static 'assets/review-user-img.jpeg' %}" alt="">
              <div class="team-member_name">
                <h5>Alihan</h5>
                <p class="p-0 m-0">
                  Tech service
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="features">
        <div class="container">
          <h1 class="title">Устроства которые мы ремонтируем</h1>

          <div class="features-grid">
            <div class="grid-item">
              <a target="_blank" href="https://wa.me/">
                <img src="{% static 'assets/iphones.png' %}" alt="" />
                <p>iPhone</p>
              </a>
            </div>
            <div class="grid-item">
              <a target="_blank" href="https://wa.me/">
                <img src="{% static 'assets/ipads.png' %}" alt="" />
                <p>iPad</p>
              </a>
            </div>
            <div class="grid-item">
              <a target="_blank" href="https://wa.me/">
                <img src="{% static 'assets/macs.png' %}" alt="" />
                <p>MacBook</p>
              </a>
            </div>
            <div class="grid-item">
              <a target="_blank" href="https://wa.me/">
                <img src="{% static 'assets/imacs.png' %}" alt="" />
                <p>iMac</p>
              </a>
            </div>
            <div class="grid-item">
              <a target="_blank" href="https://wa.me/">
                <img src="{% static 'assets/laptops.png' %}" alt="" />
                <p>Ноутбук или ПК</p>
              </a>
            </div>
            <div class="grid-item">
              <a target="_blank" href="https://wa.me/">
                <img src="{% static 'assets/consoles.png' %}" alt="" />
                <p>Игровые консоли</p>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="statistics">
        <div class="container">
          <div class="title">GA в цифрах</div>

          <div
            class="d-flex flex-column justify-content-center flex-lg-row gap-5 counts"
          >
            <div class="d-flex flex-column align-items-center">
              <span>
                <img src="{% static 'assets/tech-service.svg' %}" alt="" />
              </span>
              <p>
                <span class="counter" data-target="177654">177654</span>
              </p>
              <h5>Устройств отремонтировано</h5>
            </div>
            <div class="d-flex flex-column align-items-center">
              <span>
                <img src="{% static 'assets/experience.svg' %}" alt="" />
              </span>
              <p>
                <span class="counter" data-target="7">7</span>
              </p>
              <h5>Лет на рынке</h5>
            </div>
            <div class="d-flex flex-column align-items-center">
              <span>
                <img src="{% static 'assets/happy-customer.svg' %}" alt="" />
              </span>
              <p>
                <span class="counter" data-target="100">100</span>
                %
              </p>
              <h5>Довольных клиентов</h5>
            </div>
          </div>
        </div>
      </section>

      <section id="banner-section">
        <div class="banner-bg">
          <div class="container">
            <h1 class="banner-title">
              Внимание к деталям и индивидуальный подход к каждому клиенту
            </h1>

            <p>
              Как ведущий сервис по ремонту компьютеров и мобильных телефонов в
              Дубае, мы предлагаем решение любых проблем с вашими устройствами —
              от замены экранов до сложного ремонта материнских плат. Более
              100,000 довольных клиентов доверяют нам за высокое качество
              ремонта, доступные цены и исключительный уровень обслуживания.
              Оцените наш премиальный сервис в нашем Apple Service Center в
              Дубае и верните своему устройству идеальное состояние уже сегодня.
            </p>

            <div class="d-flex flex-row justify-content-center cta-buttons">
              <a href="https://wa.me/971585929333" class="btn-wa"> WhatsApp </a>
              <a href="tel:+971 58 5929333" class="btn-call"> Позвонить </a>
            </div>
          </div>
        </div>
      </section>

      <section id="google-reviews">
        <div class="container">
          <h1 class="title">Отзывы Google</h1>

          <!-- Slider main container -->
          <div class="swiper google-slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div class="review-card">
                  <div
                    class="d-flex flex-row align-items-center review-header position-relative"
                  >
                    <img
                      src="{% static 'assets/google-logo.png' %}"
                      class="google-logo"
                      alt=""
                    />

                    <div class="avatar">
                      <img src="{% static 'assets/google-avatar.png' %}" alt="" />
                    </div>
                    <div class="d-flex flex-column">
                      <h5 class="review-name">google username</h5>
                      <div class="d-flex flex-row rating gap-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="review-text">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus nesciunt, eveniet culpa ut magni, et nostrum
                      nisi nihil repellat excepturi repellendus laborum cum,
                      obcaecati fuga perferendis consequuntur laudantium quis
                      animi!
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review-card">
                  <div
                    class="d-flex flex-row align-items-center review-header position-relative"
                  >
                    <img
                      src="{% static 'assets/google-logo.png' %}"
                      class="google-logo"
                      alt=""
                    />

                    <div class="avatar">
                      <img src="{% static 'assets/google-avatar.png' %}" alt="" />
                    </div>
                    <div class="d-flex flex-column">
                      <h5 class="review-name">google username</h5>
                      <div class="d-flex flex-row rating gap-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="review-text">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus nesciunt, eveniet culpa ut magni, et nostrum
                      nisi nihil repellat excepturi repellendus laborum cum,
                      obcaecati fuga perferendis consequuntur laudantium quis
                      animi!
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review-card">
                  <div
                    class="d-flex flex-row align-items-center review-header position-relative"
                  >
                    <img
                      src="{% static 'assets/google-logo.png' %}"
                      class="google-logo"
                      alt=""
                    />

                    <div class="avatar">
                      <img src="{% static 'assets/google-avatar.png' %}" alt="" />
                    </div>
                    <div class="d-flex flex-column">
                      <h5 class="review-name">google username</h5>
                      <div class="d-flex flex-row rating gap-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="review-text">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus nesciunt, eveniet culpa ut magni, et nostrum
                      nisi nihil repellat excepturi repellendus laborum cum,
                      obcaecati fuga perferendis consequuntur laudantium quis
                      animi!
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review-card">
                  <div
                    class="d-flex flex-row align-items-center review-header position-relative"
                  >
                    <img
                      src="{% static 'assets/google-logo.png' %}"
                      class="google-logo"
                      alt=""
                    />

                    <div class="avatar">
                      <img src="{% static 'assets/google-avatar.png' %}" alt="" />
                    </div>
                    <div class="d-flex flex-column">
                      <h5 class="review-name">google username</h5>
                      <div class="d-flex flex-row rating gap-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="review-text">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus nesciunt, eveniet culpa ut magni, et nostrum
                      nisi nihil repellat excepturi repellendus laborum cum,
                      obcaecati fuga perferendis consequuntur laudantium quis
                      animi!
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review-card">
                  <div
                    class="d-flex flex-row align-items-center review-header position-relative"
                  >
                    <img
                      src="{% static 'assets/google-logo.png' %}"
                      class="google-logo"
                      alt=""
                    />

                    <div class="avatar">
                      <img src="{% static 'assets/google-avatar.png' %}" alt="" />
                    </div>
                    <div class="d-flex flex-column">
                      <h5 class="review-name">google username</h5>
                      <div class="d-flex flex-row rating gap-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="review-text">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus nesciunt, eveniet culpa ut magni, et nostrum
                      nisi nihil repellat excepturi repellendus laborum cum,
                      obcaecati fuga perferendis consequuntur laudantium quis
                      animi!
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review-card">
                  <div
                    class="d-flex flex-row align-items-center review-header position-relative"
                  >
                    <img
                      src="{% static 'assets/google-logo.png' %}"
                      class="google-logo"
                      alt=""
                    />

                    <div class="avatar">
                      <img src="{% static 'assets/google-avatar.png' %}" alt="" />
                    </div>
                    <div class="d-flex flex-column">
                      <h5 class="review-name">google username</h5>
                      <div class="d-flex flex-row rating gap-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#f0ad4e"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="review-text">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus nesciunt, eveniet culpa ut magni, et nostrum
                      nisi nihil repellat excepturi repellendus laborum cum,
                      obcaecati fuga perferendis consequuntur laudantium quis
                      animi!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- If we need pagination -->
          </div>
          <div class="pagination position-relative">
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>

      <section id="happy-customers">
        <div class="container">
          <h1 class="title">Наши счастливые клиенты</h1>

          <div class="customers-grid">
            <div class="customer">
              <video src="{% static 'assets/SampleVideo_1280x720_2mb.mp4' %}"></video>
            </div>
            <div class="customer">
              <img src="{% static 'assets/mac-repair.webp' %}" alt="" />
            </div>
            <div class="customer">
              <video src="{% static 'assets/SampleVideo_1280x720_2mb.mp4' %}"></video>
            </div>
            <div class="customer">
              <img src="{% static 'assets/mac-repair.webp' %}" alt="" />
            </div>
            <div class="customer">
              <video src="{% static 'assets/SampleVideo_1280x720_2mb.mp4' %}"></video>
              <!-- <img
                src="./assets/mac-repair.webp"
                class="img-fluid rounded-top"
                alt=""
              /> -->
            </div>
            <div class="customer">
              <img src="{% static 'assets/consoles.png' %}" alt="" />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="d-flex flex-column flex-lg-row gap-5">
          <div class="d-flex flex-column order-1 order-lg-2 contacts">
            <h3 class="footer-title">Адрес</h3>

            <!-- <h5>GA REPAIR SERVICE</h5> -->

            <div class="d-flex flex-column adress-info gap-3">
              <a
                href="https://maps.app.goo.gl/YK9DC7iwyQVBZmBR7"
                target="_blank"
                class="d-flex flex-row align-items-center gap-3"
              >
                <img src="{% static 'assets/location.svg' %}" alt="" />
                <span
                  >Al Barsha 1 Dusseldorf Business Point Office 805 -
                  Dubai</span
                >
              </a>
              <a
                href="tel:+971 58 513 8333"
                target="_blank"
                class="d-flex flex-row gap-3"
              >
                <img src="{% static 'assets/smartphone.svg' %}" alt="" />
                <span> +971 58 513 8333</span>
              </a>
              <a
                href="mailto:info@geniusahmed.ae"
                target="_blank"
                class="d-flex flex-row gap-3"
              >
                <img src="{% static 'assets/email.svg' %}" alt="" />
                <span>info@geniusahmed.ae</span>
              </a>
            </div>

            <div class="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14450.494538268718!2d55.2050595!3d25.1145986!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6d8ffe75c899%3A0x4bb0786b5b8f748f!2sGenius%20Ahmed%20IT%20Company!5e0!3m2!1sru!2skg!4v1727329576288!5m2!1sru!2skg"
                width="100%"
                height="100%"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>

            <div class="d-flex flex-row justify-content-center gap-4 payment">
              <div>
                <img src="{% static 'assets/visa.svg' %}" alt="" />
              </div>
              <div>
                <img src="{% static 'assets/master.svg' %}" alt="" />
              </div>
              <div>
                <img src="{% static 'assets/apple-pay.svg' %}" alt="" />
              </div>
              <div>
                <img src="{% static 'assets/g-pay.svg' %}" alt="" />
              </div>
            </div>
          </div>

          <div class="d-flex flex-column order-2 order-lg-3 open-hours">
            <h3 class="footer-title">Время работы</h3>

            <div class="d-flex flex-column">
              <div class="d-flex flex-row">
                <span>Понедельник</span>
                <span> 9:00 - 19:00</span>
              </div>
              <div class="d-flex flex-row">
                <span>Вторник</span>
                <span> 9:00 - 19:00</span>
              </div>
              <div class="d-flex flex-row">
                <span>Среда</span>
                <span> 9:00 - 19:00</span>
              </div>
              <div class="d-flex flex-row">
                <span>Четверг</span>
                <span> 9:00 - 19:00</span>
              </div>
              <div class="d-flex flex-row">
                <span>Пятница</span>
                <span> 9:00 - 19:00</span>
              </div>
              <div class="d-flex flex-row">
                <span>Суббота</span>
                <span> 9:00 - 19:00</span>
              </div>
              <div class="d-flex flex-row">
                <span>Воскресенье</span>
                <span>Выходной</span>
              </div>
            </div>
          </div>

          <div
            class="d-flex flex-column order-3 order-lg-1 col-12 col-lg-4 footer-about"
          >
            <div class="d-flex flex-column">
              <img src="{% static 'assets/GA-Logo.png' %}" alt="" />
              <p>
                <strong> GA REPAIR SERVICE </strong>специализируется на широком
                спектре современных технологических и информационных решений,
                охватывающих следующие направления деятельности: Программные
                услуги | Аппаратные услуги | Цифровой маркетинг | ИТ-служба
                поддержки | Умные дома | Кибербезопасность | Системы
                видеонаблюдения и безопасности | Системы контроля доступа. В
                Genius Ahmed мы стремимся к инновационным решениям, которые
                выводят ваш бизнес и дом на новый уровень современных
                технологий. Наши услуги ориентированы на клиента и предоставляют
                высококачественные решения для повышения эффективности и
                безопасности.
              </p>
              <div class="d-flex flex-row justify-content-center gap-3 smn">
                <a href="" target="_blank">
                  <img src="{% static 'assets/instagram.jpeg' %}" alt="" />
                </a>
                <a href="" target="_blank">
                  <img src="{% static 'assets/facebook.svg' %}" alt="" />
                </a>
                <a href="" target="_blank">
                  <img src="{% static 'assets/sl_z_072523_61700_01.jpg' %}" alt="" />
                </a>
                <a href="" target="_blank">
                  <img src="{% static 'assets/tiktok.jpeg' %}" alt="" />
                </a>
                <a href="" target="_blank">
                  <img src="{% static 'assets/youtube.svg' %}" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="widgets">
      <a href="https://wa.me/+123123123">
          <img src="{% static 'assets/whatsapp.png' %}" alt="">
      </a>
      <a href="tel:+123123123">
          <img src="{% static 'assets/call_img.png' %}" alt="">
      </a>
  </div>
  </body>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="{% static 'js/bannerAnimation.js' %}"></script>
  <script src="{% static 'js/countup.js' %}"></script>

  <!-- Button trigger modal -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="happyCustomerModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h1 class="modal-title" id="exampleModalLabel">Customer name</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const buttons = document.querySelectorAll(
        ".customer , .blog-video__cover"
      );
      const modalEl = document.querySelector("#happyCustomerModal .modal-body");
      const modal = new bootstrap.Modal("#happyCustomerModal", {
        keyboard: true,
        backdrop: true,
        focus: true,
      });

      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const innerElement = button.firstElementChild.cloneNode(true);
          modalEl.innerHTML = "";
          if (innerElement.tagName === "VIDEO") {
            innerElement.controls = true;
          }
          modalEl.appendChild(innerElement);
          modal.show();
        });
      });
    });
  </script>

  <script>
    const reviewText = document.querySelectorAll(".review-text p");

    reviewText.forEach((text) => {
      text.addEventListener("click", () => {
        text.classList.toggle("active");
      });
    });
  </script>
  <script>
    const googleReviews = new Swiper(".google-slider", {
      slidesPerView: 1,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 4,
        },
      },
    });
  </script>
    <script>
      const header = document.querySelector('header').clientHeight;
      const main = document.querySelector('main')
  
      console.log(header);
      
      main.style.marginTop = header + 1 + 'px'
  
    </script>
</html>
