{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site_meta.meta_description }}"/>
    <meta name="title" content="{{ site_meta.meta_title }}"/>
    <meta name="image" content="{% if site_meta.meta_image %}{{ site_meta.meta_image.url }}{% endif %}"/>
    <title>GA REPAIR SERVICE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}" />
    <link rel="icon" href="{% static 'assets/GA-Logo.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container align-items-center">
          <a class="navbar-brand" href="#">
            <img src="{{ footer.logo.url }}" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <div class="navbar-brand">
                <img src="{{ footer.logo.url }}" alt="" />
              </div>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div
              class="offcanvas-body justify-content-lg-evenly gap-lg-4 flex-wrap flex-column-reverse flex-lg-column d-flex justify-content-end justify-content-lg-center"
            >
              <div
                class="d-flex mt-4 mt-lg-0 flex-column flex-lg-row gap-5 flex-lg-grow-1 align-items-lg-center justify-content-lg-center w-100"
              >
                {% for contact in contact_info %}
                <a
                  href="{{ contact.phone_link }}"
                  class="d-flex flex-row align-items-center gap-3 gap-lg-4 call-us-header"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    class="bi bi-telephone"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
                    />
                  </svg>

                  <div class="d-flex flex-column">
                          <h5>{{ contact.title }}</h5>
                          <span>{{ contact.phone_number }}</span>
                  </div>
                </a>
                {% endfor %}
                <div
                  class="d-flex flex-row align-items-center gap-3 gap-lg-4 open-hours-header"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    class="bi bi-clock"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
                    />
                    <path
                      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"
                    />
                  </svg>

                  <div class="d-flex flex-column">
                    {% for contact in contact_info %}
                    <h5>{{ contact.opening_time_title }}</h5>
                    <span>{{ contact.opening_days }}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="">
                  <div class="dropdown-center">
                    <button
                      class="dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      {% if request.LANGUAGE_CODE == 'ru' %}
                        Русский
                      {% elif request.LANGUAGE_CODE == 'en' %}
                        English
                      {% else %}
                        {{ request.LANGUAGE_CODE }}
                      {% endif %}
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="{% if request.LANGUAGE_CODE == 'ru' %}active{% endif %}" href="/ru/service">РУ</a>
                      </li>
                      <li>
                        <a class="{% if request.LANGUAGE_CODE == 'en' %}active{% endif %}" href="/en/service">EN</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
<ul class="navbar-nav justify-content-end justify-content-lg-center w-lg-100 pe-3 flex-lg-grow-1">
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">
      {{ navigation.home }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'service' %}active{% endif %}" href="{% url 'service' %}">
      {{ navigation.services }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">
      {{ navigation.about_us }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">
      {{ navigation.contacts }}
    </a>
  </li>
</ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
<section id="hero">
  <div class="swiper hero-slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper align-items-center">
      {% for slide in hero_slides %}
      <div class="swiper-slide d-flex align-items-end">
        {% if slide.image %}
        <img src="{{ slide.image.url }}" alt="" />
        {% elif slide.video %}
        <video src="{{ slide.video.url }}" autoplay muted loop></video>
        {% endif %}
        <div class="slide-text-content d-flex flex-column">
          <h2 class="text-decoration-none">
            {{ slide.title }}
          </h2>
          <h5>{{ slide.subtitle1 }}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- If we need navigation buttons -->
    <div class="d-flex flex-row justify-content-end gap-4 position-relative arrows px-3">
      <div class="hero-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
          <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1" />
        </svg>
      </div>
      <div class="hero-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
          <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1" />
        </svg>
      </div>
    </div>
  </div>
</section>

      <section id="services">
        <div class="container">
          <h1 class="title">{{ services_section.title }}</h1>

          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            {% for tab in services_section.tabs.all %}
            <li class="nav-item" role="presentation">
              <button
                class="{% if tab.is_active %}active{% endif %}"
                id="{{ tab.tab_id }}-tab"
                data-bs-toggle="pill"
                data-bs-target="#{{ tab.tab_id }}"
                type="button"
                role="tab"
                aria-controls="{{ tab.tab_id }}"
                aria-selected="{{ tab.is_active|yesno:'true,false' }}"
              >
                {{ tab.title }}
              </button>
            </li>
            {% endfor %}
          </ul>

          <div class="tab-content mt-3 mt-lg-5" id="pills-tabContent">
            {% for tab in services_section.tabs.all %}
            <div
              class="tab-pane fade {% if tab.is_active %}show active{% endif %}"
              id="{{ tab.tab_id }}"
              role="tabpanel"
              aria-labelledby="{{ tab.tab_id }}-tab"
            >
              <div class="d-flex flex-column flex-lg-row gap-4 gap-lg-5">
                <div class="tab-img-cover d-flex flex-column gap-5">
                  {% if tab.image %}
                    <img src="{{ tab.image.url }}" alt="{{ tab.title }}" />
                  {% endif %}
                  {% for slide in hero_slides %}
                  <div class="d-flex flex-row cta-buttons">
                    <a href="{{ slide.whatsapp_link }}" class="btn-wa">{{ slide.whatsapp_text }}</a>
                    <a href="tel:{{ slide.call_link }}" class="btn-call">{{ slide.call_text }}</a>
                  </div>
                </div>
                {% endfor %}
                <div class="tab-services">
                  {% for item in tab.items.all %}
                  <div class="tab-service-item d-flex flex-column gap-3">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="d-flex flex-column flex-lg-row gap-5">

          <!-- About Section -->
          <div class="d-flex flex-column order-3 order-lg-1 col-12 col-lg-4 footer-about">
            <div class="d-flex flex-column">
              <img src="{{ footer.logo.url }}" alt="Company Logo" />
              <p>{{ footer.about_text }}</p>
              <div class="d-flex flex-row justify-content-center gap-3 smn">
                {% for social in footer.socials.all %}
                <a href="{{ social.url }}" target="_blank">
                  <img src="{{ social.icon.url }}" alt="{{ social.name }}" />
                </a>
                {% endfor %}
              </div>
            </div>
          </div>

          <!-- Contact Info -->
          <div class="d-flex flex-column order-1 order-lg-2 contacts">
            <h3 class="footer-title">{{ footer.title_address }}</h3>
            <div class="d-flex flex-column adress-info gap-3">
              <a href="{{ footer.address.first.link }}" target="_blank" class="d-flex flex-row align-items-center gap-3">
                <img src="{{ footer.address.first.logo.url }}" alt="" />
                <span>{{ footer.address.first.address }}</span>
              </a>
              <a href="{{ footer.phone.first.link }}" target="_blank" class="d-flex flex-row gap-3">
                <img src="{{ footer.phone.first.logo.url }}" alt="" />
                <span>{{ footer.phone.first.phone }}</span>
              </a>
              <a href="{{ footer.email.first.link }}" target="_blank" class="d-flex flex-row gap-3">
                <img src="{{ footer.email.first.logo.url }}" alt="" />
                <span>{{ footer.email.first.email }}</span>
              </a>
            </div>
            <div class="map">
                {{ footer.address.first.map_iframe|safe }}
            </div>
            <div class="d-flex flex-row justify-content-center gap-4 payment">
              {% for payment in footer.payment_methods.all %}
              <div><img src="{{ payment.icon.url }}" alt="Payment Method" /></div>
              {% endfor %}
            </div>
          </div>

          <!-- Working Hours -->
          <div class="d-flex flex-column order-2 order-lg-3 open-hours">
              <h3 class="footer-title">{{ footer.title_work_time }}</h3>
              <div class="d-flex flex-column">
                  {% for hour in footer_work_hours %}
                  <div class="d-flex flex-row">
                      <span>{% trans hour.get_day_display %}</span>
                      {% if hour.is_closed %}
                      <span>{% trans "Closed" %}</span>
                      {% else %}
                      <span>{{ hour.open_time }} - {{ hour.close_time }}</span>
                      {% endif %}
                  </div>
                  {% endfor %}
              </div>
          </div>

        </div>
      </div>
    </footer>

    <div class="widgets">
      <a href="{{ footer.phone.first.link }}">
          <img src="{% static 'assets/whatsapp.png' %}" alt="">
      </a>
      <a href="{{ footer.phone.first.link }}">
          <img src="{% static 'assets/call_img.png' %}" alt="">
      </a>
    </div>
  </body>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="{% static 'js/bannerAnimation.js' %}"></script>
  <script src="{% static 'js/countup.js' %}"></script>

  <!-- Button trigger modal -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="happyCustomerModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h1 class="modal-title" id="exampleModalLabel">Customer name</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const buttons = document.querySelectorAll(
        ".customer , .blog-video__cover"
      );
      const modalEl = document.querySelector("#happyCustomerModal .modal-body");
      const modal = new bootstrap.Modal("#happyCustomerModal", {
        keyboard: true,
        backdrop: true,
        focus: true,
      });

      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const innerElement = button.firstElementChild.cloneNode(true);
          modalEl.innerHTML = "";
          if (innerElement.tagName === "VIDEO") {
            innerElement.controls = true;
          }
          modalEl.appendChild(innerElement);
          modal.show();
        });
      });
    });
  </script>

  <script>
    const reviewText = document.querySelectorAll(".review-text p");

    reviewText.forEach((text) => {
      text.addEventListener("click", () => {
        text.classList.toggle("active");
      });
    });
  </script>
  <script>
    const swiper = new Swiper(".hero-slider", {
      effect: "fade",
      slidesPerView: 1,
      navigation: {
        nextEl: ".hero-button-next",
        prevEl: ".hero-button-prev",
      },
    });

    const googleReviews = new Swiper(".google-slider", {
      slidesPerView: 1,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 4,
        },
      },
    });
  </script>
  <script>
    const header = document.querySelector("header").clientHeight;
    const main = document.querySelector("main");

    console.log(header);

    main.style.marginTop = header + 1 + "px";
  </script>
  <script>
    let lastScrollY = window.scrollY;
    const headerEl = document.querySelector('header');

    window.addEventListener('scroll', () => {
      if (window.scrollY > lastScrollY) {
        // Scrolling down
        headerEl.style.transform = 'translateY(-100%)';
      } else {
        // Scrolling up
        headerEl.style.transform = 'none';
      }
      lastScrollY = window.scrollY;
    });
  </script>
</html>
